/* A technical document page stylings */

html {
    box-sizing: border-box;
}

header {
    font-size: 30px;
    font-weight: thin;
    margin: 12px;
    text-align: center;
    color: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 1.4;
    min-width: 280px;
    color: #4d4e53;
}


/* nav bar styling */

#nav-bar {
    position: fixed;
    border-right: 5px solid #99a2a2;
    height: 100%;
    width: 310px;
    left: 0;
    top: 0;
    min-width: 280px;
}

#nav-bar ul {
    height: 90%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#nav-bar li {
    border-top: 2px solid #000;
    margin-top: 10px;
    list-style: none;
    position: relative;
    color: #4d4e53;
}

#nav-bar a {
    display: block;
    padding: 12px 30px;
    text-decoration: none;
    cursor: pointer;
    color: #4d4e53;
}


/* body styling */

code {
    display: block;
    background-color: #f7f7f7;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    padding: 16px;
    margin: 12px;
    border-radius: 5px;
}

#main-doc header {
    margin: 0;
    text-align: left;
}

#main-doc {
    position: absolute;
    margin-left: 325px;
    padding: 22px;
}

#main-doc li {
    margin: 17px 0 0 22px;
}

sec.content {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}


/* styling for mobile devices */

@media only screen and (max-width: 815px) {
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }
    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }
    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }
    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }
}