/* A technical document page stylings */

html {
    box-sizing: border-box;
}

header {
    font-size: 30px;
    font-weight: 500;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* nav bar styling */

#nav-bar {
    position: fixed;
    border-right: 5px solid #99a2a2;
    padding: 5px auto;
    margin: 0 auto;
    height: 100%;
}

#nav-bar ul {
    font-size: 25px;
    font-weight: 400;
}

li .nav-link {
    list-style-type: none;
    border-top: 3px solid #000;
    width: 100%;
    text-decoration: none;
}


/* body styling */

code {
    background-color: #f7f7f7;
    border-radius: 4px;
    width: 60%;
    padding: ;
}

main {
    position: relative;
    margin: 0;
    left: 25%;
}