/* A technical document page stylings */

html {
    box-sizing: border-box;
}

* {
    border-radius: 4px;
}

header {
    font-size: larger;
}


/* nav bar styling */


/* body styling */

code {
    background-color: #f7f7f7;
}